<%= form_for @quest, :html => { :class => "form-horizontal quest" } do |f| %>

    <% if @quest.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@quest.errors.count, "error") %> prohibited this quest from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @quest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label',  title: "give an unique name for the quest", data: {tooltip: true} %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@quest[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control',  title: "say what your quest is about", data: {tooltip: true} %>
    </div>
    <%= error_span(@quest[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :points, :class => 'control-label', title: "20 - 300", data: {tooltip: true} %>
    <div class="controls">
      <%= f.text_field :points, :class => 'form-control' %>
    </div>
    <%= error_span(@quest[:points]) %>
  </div>
    <div class="control-group">
      <%= f.label :category, :class => 'control-label',  category: "give an unique name for the quest", data: {tooltip: true} %>
      <div class="controls">
        <%= collection_select(:quest, :category_id, @categories, :id, :title, options ={:prompt => "-Select a category"}, :class =>"category") %>
      </div>
      <%= error_span(@quest[:title]) %>
    </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            quests_path, :class => 'btn btn-default' %>

<% end %>